<<<<<<< HEAD
#img{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
=======
body, html {
    height: 100%;
    
}

h1 {
    color: blue;
}

.dummy-div  {
    background-color: white;

}


.parallax1 { 
    /* The image used */
    background-image: url("../images/space.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.parallax2 { 
    /* The image used */
    background-image: url("https://images.punkapi.com/v2/67.png");
    

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.parallax3 { 
    /* The image used */
    background-image: url("https://wallpaper-house.com/data/out/6/wallpaper2you_124606.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
>>>>>>> 908053e4a7119fb70567f5612d5f64ab28cbc45b
